#main {
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.6);
}

#background, #input, #is_typing {
  border: 3px double #e06fff;
  background-color: #fffc9c;
  cursor: url('https://kiwiandoesthings.place/resources/pointer.png'), default;
  box-sizing: border-box;
  border-radius: 0px;
}

#input {
  width: 100%
}

#top_banner, #scrollToBottom, #emojiTrayToggle {
  display: none;
  /* #scrollToBottom is overriden with display: flex with inline css so we have to hack it */
  opacity: 0;
}

#is_typing {
  width: 33px;
  height: 13px;
}

.nav-button, .button, a, a:-webkit-any-link, .allMessages {
  cursor: url('https://kiwiandoesthings.place/resources/hand.png'), pointer;
}

.recieved {
  border: 3px double #e06fff;
  background-color: #fffc9c;
  float: left;
  margin-right: 100%;
  align-items: flex-start;
}

.sent {
  border: 3px double #e06fff;
  background-color: #fffc9c;
  float: right;
  margin-left: 100%;
  align-items: flex-end;
}

.senderInfo {
  font-family: "PixiFontBDF", "PixiFontTTF", "Rockwell", "Arial";
  font-size: 22px;
  font-weight: normal;
}

.msgBody {
  font-family: "PixiFontBDF", "PixiFontTTF", "Rockwell", "Arial";
  font-size: 18px;
}

#input:empty::before {
  content: "converse.";
}

.sent#timestamp {
  display: flex;
  align-items: flex-end;
}

.recieved#timestamp {
  display: flex;
  align-items: flex-start;
}

.allMessages {
  max-width: 60%;
  min-width: 60%;
  flex-direction: column;
  display: inline-flex;
  box-sizing: border-box;
}

@font-face {
    font-family: 'PixiFontBDF';
    src: url('https://kiwiandoesthings.place/resources/PixiFont.bdf') format('bdf');
}

@font-face {
    font-family: 'PixiFontTTF';
    src: url('https://kiwiandoesthings.place/resources/PixiFont.ttf') format('truetype');
}